/*******************************************************************************/
/* Global */
/*******************************************************************************/
body{
	background-image: url('../imgs/escheresque.png');
}
#mainWrapper{
	background-color:#fff !important;
	height:800px;
}
input{
	width:100%;
}
/*******************************************************************************/
/* Header */
/*******************************************************************************/
.banner{
	background-color:#652d90;
	width:100%;
	min-width: 100%;
}
#bannerImg{
	width:780px;
	margin:0 auto;
	display: block;
}

/*******************************************************************************/
/* Navigation */
/*******************************************************************************/
.navigation{
	width:100%;
	background-color:#fff;
	border-bottom:solid 2px #652d90;
	border-top:solid 1px #652d90;
}
nav{
	background-color:#EAEAEA;
	height:100%;
	display: block;
	overflow: none;
}
.nav{
	width:450px;
	margin:0 auto !important;
}
.nav li{
	display: inline;
	text-decoration:
}
ul.nav{
	border:0px;
	padding:0px;
	margin:0px;
}
ul.nav li{
	display:inline-block;
	float:left;
}
ul.nav li a{
	border-left:1px solid #652d90;
	color:#6E6E6E;
	display: table-cell;
	font-size: 12px;
	height:66px;
	padding:0 20px;
	text-transform: uppercase;
	vertical-align: middle;
	text-decoration: none;
}
ul.nav li:last-child a{
	border-right:1px solid #652d90;
}
ul.nav li:hover{
	background-color:#ffffff;
	border-bottom:2px solid #652d90;
	height:66px;
	text-decoration: none;
}